<!DOCTYPE html>
<html>
<head>

<title>Resume History</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="container">

<h1 class="logo">
Resume History
</h1>

{% for item in history_data %}

<div class="card">

<h2>
{{ item.filename }}
</h2>

{% if item.resume_score %}

<p>
Resume Score:
<strong>
{{ item.resume_score }}
</strong>
</p>

{% endif %}

{% if item.ats_score %}

<p>
ATS Score:
<strong>
{{ item.ats_score }}
</strong>
</p>

{% endif %}

</div>

{% endfor %}

<br>

<a href="/" class="btn">
Dashboard
</a>

</div>

</body>
</html>